/*

CSS för struktur och positionering. ingen färg eller font css här
*/
#footer {
	width: 960px;
	height: 100px;
}

#blandat {
	width: 280px;
	height: 400px;
	float: left;
	#border-width: 1px;
	#border-style: solid;
	#border-color: black;
	margin-right: 10px;
	margin-top: 10px;
}
#foretag {
	width: 280px;
	height: 400px;
	float: left;
	#border-width: 1px;
	#border-style: solid;
	#border-color: black;
	margin-right: 10px;
	margin-top: 10px;
}
#plats_info {
	float: left;
	width: 370px;
	height: 500px;
	overflow: auto;
}
#karta1 {
	float: right;
	overflow: auto;
	width:430px;
	height: 800px;
}
#vad {
	width: 800px;
	height: 500px;
	float: left;
	#border-width: 1px;
	#border-style: solid;
	#border-color: black;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	overflow: auto;
}
#plats {
	width: 800px;
	float: left;
	#border-width: 1px;
	#border-style: solid;
	#border-color: black;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	overflow: auto;

}
#mainbox {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
}
#nyheter {
	width: 280px;
	height: 400px;
	float: left;
	#border-width: 1px;
	#border-style: solid;
	#border-color: black;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
}
#container_main {
	width: 960px;
	#border-width: 1px;
	#border-style: solid;
	#border-color: black;
	margin-right: auto;
	margin-left: auto;
}

#header {
	width:960px;
	height: 100px;
}
#slider {
	width: 960px;
	height: 350px;
}