/*

CSS för struktur och positionering. ingen färg eller font css här
*/
#container_main {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
/* Det är i mainbox som all content visas */
#mainbox {
	margin-right: auto;
	margin-left: auto;
}
/* Längst ner på sidan på alla sidor. footer.css för footerns styling. */
#footer {
	width: 960px;
	height: 100px;
}

/* Menyn ligger i headern. För menyns style kolla */
#header {
	width:960px;
	height: 100px;
}
/* Slidern har egen css och html kod ligger i slide.php */
#slider {
	width: 960px;
	height: 350px;
}
/* används för kolumnerna på startsidan */
.kolumn {
	width: 300px;
	float: left;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 5px;
	#margin-right: 10px;
	#margin-top: 10px;
}
.kolumn article {
	margin-top: 5px;
}
/* texten vänster om kartan på sidan plats */
#plats_info {
	float: left;
	width: 370px;
	height: 500px;
	overflow: auto;
}
#karta1 {
	float: right;
	overflow: auto;
	width:430px;
	height: 800px;
}
#vad {
	width: 800px;
	height: 500px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	overflow: auto;
}
#plats {
	width: 800px;
	float: left;
	#border-width: 1px;
	#border-style: solid;
	#border-color: black;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	overflow: auto;

}
