/*

CSS f�r struktur och positionering. ingen f�rg eller font css h�r
*/

	
#container_main {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
/* Det �r i mainbox som all content visas */
#mainbox {
	margin-right: auto;
	margin-left: auto;
}

#main_content {
	width:960px;
	height:600px;
}



/* Menyn ligger i headern. F�r menyns style kolla */
#header {
	width:960px;
	height: 40px;
}
/* Slidern har egen css och html kod ligger i slide.php */
#slider {
	width: 960px;
	height: 350px;
}
/* anv�nds f�r kolumnerna p� startsidan */
.kolumn {
	width: 300px;
	float: left;
	#border-style: solid;
	#border-color: black;
	#border-width: 1px;
	padding: 5px;
	#margin-right: 10px;
	#margin-top: 10px;
}
.kolumn article {
	margin-top: 5px;
}
/* texten v�nster om kartan p� sidan plats */
#plats_info {
	float: left;
	width: 370px;
	height: 500px;
	overflow: auto;
}
#karta1 {
	float: right;
	overflow: auto;
	width:430px;
	height: 800px;
}
#vad {
	width: 850px;
	height: 700px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	overflow: auto;
}

#vad h1{
	font-size:30px;	
	color:#666666;
}

#vad table{
	border-radius:5px;
	border-color:#444;
	border-top-color:#444;
	border-left-color:#444;
	border-right-color:#444;
	width:500px;
	height:500px;
}

#plats {
	width: 800px;
	float: left;
	#border-width: 1px;
	#border-style: solid;
	#border-color: black;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	overflow: auto;

}

