/*	Slider CSS	*/

#container{
	max-width:960px;
	margin:0 auto;
	padding-bottom:150px;
}


/* Prev/Next styling*/
ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

/* Prev/Next styling Hover*/
ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

/*Sid visare non-select*/
ol.bjqs-markers li a{
	padding:5px 10px;
	background:#999;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

/*Sid visare selected*/
ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #000;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}